@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
*::-webkit-scrollbar {
  width: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #760509;
  border-radius: 10px;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.recent-transactions tbody tr td {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid gainsboro;
  /* font-weight: 500; */
}

.recent-transactions tbody tr td .pending {
  color: hsl(47, 65%, 71%);
  font-weight: 500;
}

.recent-transactions tbody tr td .completed {
  color: hsl(133, 32%, 57%);
  font-weight: 500;
}

.recent-transactions tbody tr td .canceled {
  color: hsl(9, 4%, 66%);
  font-weight: 500;
}
